*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: antiquewhite;
  font-family: Sans-serif;
}

header{
 padding: 20px; 
}

header h1{
  text-align: center;
  font-size: 45px;
  border-right: 1px solid black;
  animation: typing 3s steps(30, end);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing{
  0%{width: 0}
  100%{width: 100%}
}

.post1{
  width: 100%;
  background: white;
  padding: 10px;
  line-height: 1.4;
}


.post1 h2{
  font-size: 30px;
}
.post1 p{
    font-size: 20px;
}

article{
  margin-top: 20px;
  margin-bottom: 20px;
}